:root {
  --purple:#4b14c2;
  --spotify-green:#1DB954;
  --bg:#eef6ff;
}

body {
  margin:0;
  background:var(--bg);
  font-family:"Poppins", sans-serif;
}

/* TOP NAV */
.topnav {
  width:calc(100% - 100px);
  margin:32px 50px;
  background:var(--purple);
  padding:18px 26px;
  border-radius:12px;
  display:flex;
  align-items:center;
  color:#fff;
  position:relative;
  gap:20px;
}

.left {
  display:flex;
  align-items:center;
  gap:16px;
}

.hamburger {
  width:36px;
  height:36px;
  border-radius:8px;
  display:grid;
  place-items:center;
  cursor:pointer;
  background:rgba(255,255,255,0.05);
}

.brand {
  display:flex;
  align-items:center;
  gap:10px;
  font-size:24px;
  font-weight:700;
}

.dot {
  width:40px;
  height:40px;
  background:var(--spotify-green);
  display:grid;
  place-items:center;
  border-radius:50%;
}

.menu {
  margin:0 auto;
  display:flex;
  gap:32px;
}

.menu a {
  text-decoration:none;
  color:white;
  padding:6px 8px;
  border-radius:8px;
}

.menu a:hover {
  background:rgba(255,255,255,0.12);
}

.icon-btn {
  width:42px;
  height:42px;
  border-radius:10px;
  background:rgba(255,255,255,0.07);
  display:grid;
  place-items:center;
  cursor:pointer;
}

/* SEARCH OVERLAY */
.search-overlay {
  position:absolute;
  inset:0;
  display:flex;
  justify-content:center;
  align-items:center;
  opacity:0;
  pointer-events:none;
  transition:.25s;
}

.search-overlay.active {
  opacity:1;
  pointer-events:auto;
}

.search-card {
  width:70%;
  background:white;
  color:black;
  padding:10px 16px;
  border-radius:12px;
  display:flex;
  align-items:center;
  gap:12px;
}

.search-card input {
  width:100%;
  border:none;
  font-size:16px;
  outline:none;
}

/* SIDEBAR */
.sidebar {
  width:250px;
  background:white;
  height:100vh;
  position:fixed;
  left:-260px;
  top:0;
  padding-top:90px;
  transition:.3s;
}

.sidebar.open {
  left:0;
}

.sidebar a {
  display:block;
  padding:15px 20px;
  text-decoration:none;
  color:black;
  font-weight:600;
}

.sidebar a:hover {
  background:#eee;
}

/* BOTTOM NAV */
.bottom-nav {
  position:fixed;
  left:16px;
  right:16px;
  bottom:18px;
  background:black;
  color:white;
  padding:10px 14px;
  border-radius:14px;
  display:flex;
  justify-content:space-between;
}

.bn-item {
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:4px;
  text-decoration:none;
  color:#eee;
  width:20%;
}

.bn-item.active {
  color:var(--spotify-green);
}

/* DEMO CONTENT */
.demo {
  padding:40px 50px 200px;
}
